<a href="https://colab.research.google.com/github/Dorcas63/Parameters/blob/main/Weather2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
!git clone https://github.com/Dorcas63/Parameters.git

%cd Parameters

!dir

Cloning into 'Parameters'...
remote: Enumerating objects: 26, done.
remote: Counting objects: 100% (26/26), done.
remote: Compressing objects: 100% (24/24), done.
remote: Total 26 (delta 8), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (26/26), 29.49 KiB | 559.00 KiB/s, done.
/content/Parameters/Parameters
Atmos41.csv  data_acquisition2.ipynb  README.md  Weather2.ipynb

In [7]:
import pandas as pd

xx = pd.read_csv('Atmos41.csv')    # csv files
#xx = pd.read_excel('Atmos41.xlsx')

list(xx)  # get the list of column names

['Date',
 'Time',
 'Temp_Out',
 'Humidity_out',
 'Dew_Pt.',
 'Wind_Speed',
 'Pressure_Bar  ',
 'Heat_Index']

In [8]:
xx = pd.read_csv('Atmos41.csv',index_col='Time',usecols=['Time','Temp_Out','Humidity_Out',
                                                                'Dew_Pt','Wind_speed','Pressure_Bar','Heat_Index'])

xx

,Date,Time,Temp_Out,Humidity_out,Dew_Pt.,Wind_Speed,Pressure_Bar,Heat_Index
0,1/1/2007,0:30,23.0,34,6.3,2.2,976.7,22.1
1,1/1/2007,1:00,23.1,33,5.9,2.7,976.4,22.1
2,1/1/2007,1:30,22.9,33,5.8,2.7,976.2,21.8
3,1/1/2007,2:00,22.9,33,5.8,3.1,975.8,21.9
4,1/1/2007,2:30,22.6,34,5.9,2.7,975.6,21.4
5,1/1/2007,3:00,22.7,32,5.1,2.7,975.4,21.4
6,1/1/2007,3:30,22.6,32,5.1,2.7,975.4,21.3
7,1/1/2007,4:00,22.5,32,5.0,2.2,975.1,21.2
8,1/1/2007,4:30,22.2,34,5.6,3.1,975.3,20.8
9,1/1/2007,5:00,21.2,37,5.9,3.1,975.6,19.6
10,1/1/2007,5:30,20.9,37,5.6,4.9,975.6,19.3
11,1/1/2007,6:00,20.7,37,5.5,4.9,976.2,19.2
12,1/1/2007,6:30,20.7,35,4.6,6.3,976.3,19.0
13,1/1/2007,7:00,19.8,39,5.4,6.3,976.6,18.3
14,1/1/2007,7:30,19.6,39,5.3,5.8,976.5,18.2
15,1/1/2007,8:00,19.1,40,5.2,4.9,977.0,17.7
16,1/1/2007,8:30,19.6,39,5.2,4.5,977.4,18.1
17,1/1/2007,9:00,20.3,37,5.1,4.5,977.4,18.7
18,1/1/2007,9:00,20.3,37,5.1,4.5,977.4,18.7